<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220819.143251" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.220819.143032" targetFramework="net481" />
  <package id="Azure.Core" version="1.25.0" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <!--<package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net48" />-->
  <!--<package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net48" />-->
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Graph" version="4.45.0" targetFramework="net481" />
  <package id="Microsoft.Graph.Core" version="2.0.14" targetFramework="net481" />
  <package id="Microsoft.Identity.Client" version="4.47.2" targetFramework="net481" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="2.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Logging" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.24.0" targetFramework="net481" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.24.0" targetFramework="net481" />
  <!--<package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net48" />-->
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._acc_._LIB_" version="2.1.220731.182834" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.220822.32314" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.220825.113426" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.221022.131903" targetFramework="net481" />
  <package id="nilnul._geometry_._LIB_" version="1.0.8051.600" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.220826.15831" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.220825.155237" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.221018.12034" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.220817.152548" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._stat_._LIB_" version="1.1.220914.160758" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.221006.142535" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.220908.84230" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.220909.180901" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.220731.165341" targetFramework="net481" />
  <package id="nilnul.collection._axiomatic_._LIB_" version="1.0.8064.37643" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net481" />
  <package id="nilnul.geometry._planar_._LIB_" version="1.1.220815.32404" targetFramework="net481" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.220729.125019" targetFramework="net481" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.220731.183914" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220905.105721" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220926.131208" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220818.53104" targetFramework="net481" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.220725.160835" targetFramework="net481" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.220814.74253" targetFramework="net481" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.7863.31102" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.24.0" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Memory.Data" version="6.0.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Net.Http.WinHttpHandler" version="6.0.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="6.0.6" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>
